[submodule "ArduPilot/pugixml"]
	path = src/pugixml
	url = https://github.com/zeux/pugixml
[submodule "ArduPilot/rapidjson"]
	path = src/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "src/cxxopts"]
	path = src/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "src/spdlog"]
	path = src/spdlog
	url = https://github.com/gabime/spdlog
